{:requiring/base
 {:txes [[{:db/ident :preferences/color
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id[:db.part/db]
           :db.install/_attribute :db.part/db}]

         [{:db/id #db/id[:db.part/user]
           :preferences/color "green"}]]}

:requiring/dependent
 {:requires [:requiring/base]
  :txes-fn migrations.requiring/everyone-likes-orange-instead}}

